@font-face {
  font-family: Gotham-Black;
  src: url("/assets/fonts/admin_fonts/Gotham-Black.otf") format("truetype");
}

@font-face {
  font-family: Gotham-Thin;
  src: url("/assets/fonts/admin_fonts/Gotham-Thin.otf") format("truetype");
}
@font-face {
  font-family: Gotham-ThinItalic;
  src: url("/assets/fonts/admin_fonts/Gotham-ThinItalic.otf") format("truetype");
}
@font-face {
  font-family: Gotham-UltraItalic;
  src: url("/assets/fonts/admin_fonts/Gotham-UltraItalic.otf")
    format("truetype");
}
@font-face {
  font-family: Gotham-XLight;
  src: url("/assets/fonts/admin_fonts/Gotham-XLight.otf") format("truetype");
}
@font-face {
  font-family: Gotham-XLight;
  src: url("/assets/fonts/admin_fonts/Gotham-XLight.otf") format("truetype");
}
@font-face {
  font-family: Gotham-XLightItalic;
  src: url("/assets/fonts/admin_fonts/Gotham-XLightItalic.otf")
    format("truetype");
}
@font-face {
  font-family: Gotham-Bold;
  src: url("/assets/fonts/admin_fonts/GothamBold.ttf") format("truetype");
}
@font-face {
  font-family: Gotham-BoldItalic;
  src: url("/assets/fonts/admin_fonts/GothamBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: Gotham-Book;
  src: url("/assets/fonts/admin_fonts/GothamBook.ttf") format("truetype");
}
@font-face {
  font-family: Gotham-BookItalic;
  src: url("/assets/fonts/admin_fonts/GothamBookItalic.ttf") format("truetype");
}
@font-face {
  font-family: Gotham-Light;
  src: url("/assets/fonts/admin_fonts/GothamLight.ttf") format("truetype");
}
@font-face {
  font-family: Gotham-LightItalic;
  src: url("/assets/fonts/admin_fonts/GothamLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: Gotham-MediumItalic;
  src: url("/assets/fonts/admin_fonts/GothamMediumItalic.ttf")
    format("truetype");
}
