@import "./admin-module-fonts.scss";

.table > tbody > tr > th,
.table > tbody > tr > td {
  //   border-top: 0;
  //   border-bottom: 0;
  border: 0px;
}

.table-form {
  border-radius: 5px;
  margin-top: 60px;
  margin-left: 0px;
  background-color: #ffffff;
  margin-right: 0px;
  padding-bottom: 0px;
  border: none;
  p {
    font-size: 20px;
    color: #faa51a;
    background-color: #ffffff;
    font-weight: bold;
    font-family: normal normal bold "Gotham";
    padding: 10px 0px;
    margin: 20px;
  }
}
thead tr {
  background-color: #f1f3f9;
}

th {
  font-size: 14px;
  color: #93a1b2;
  font-family: Gotham-Bold;

  i {
    color: #8e9dae;
  }
}
td {
  color: #8898aa;
  font-size: 14px;

  img {
    margin: 5px;
  }
}

tbody {
  tr {
    height: 70px;
  }
  td {
    padding-bottom: 0px !important;
    font-family: Gotham-Book;
    // font-family: normal normal normal "gotham";
    color: #8898aa;
    font-size: 14px;
    button {
      background-color: #646de4;
      width: 82px;
      height: 26px;
      text-align: center;
      border-radius: 5px;
      font-size: 10px;
      font-family: Gotham-Bold;
      // font-family: normal normal bold "gotham";
      color: #ffffff;
      border: 1px solid #646de4;
      box-shadow: 0px 3px 3.5px rgba(44, 40, 40, 0.11);
    }
    .delete-button {
      background-color: #fe0909 !important;
      border: 1px solid #fe0909 !important;
      margin: 10px 0px;
    }
  }
}

tbody tr:nth-child(odd) {
  background-color: #f7fafc !important;
}
