<body>
  <!-- End Header -->

  <section class="agro">
    <div class="container-fluid">
      <div class="logo-image d-md-block d-none">
        <img src="../../../assets/user-images/google_logo_2x.png" /><br />
        <img src="../../../assets/user-images/twitter_logo_2x.png" /><br />
        <img src="../../../assets/user-images/fb_logo_2x.png" />
      </div>
      <div class="dotted-rect row d-md-block d-none">
        <div class="col-md-12">
          <img src="../../../assets/user-images/agro_right_rect_2x.png" />
          <div class="scroll">
            <img src="../../../assets/user-images/scroll.png" />
          </div>
        </div>
      </div>
      <div class="agro-section">
        <div class="row m-0">
          <div class="col-lg-8 col-md-8">
            <h1>Global <font color="#FAA51A">Agro-Innovation</font> Project</h1>
            <p>
              Creating a prospering and study provide chain for agriculture.
            </p>
            <button>Know More</button>
          </div>
          <div class="col-md-4 mt-3">
            <img src="../../../assets/user-images/agro_image_2x.png" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-8 text">
          <div class="row text-box">
            <div class="col-xl-5 col-md-4 last-div">
              <span>Enjoying buying your stock</span><br /><label>Buyer</label>
            </div>
            <div class="col-xl-3 col-md-4 last-div">
              <span>Reap the benefits of selling</span><br />
              <label>Seller</label>
            </div>
            <div class="col-md-3">
              <span>CHECK OUT</span><br />
              <label> Agri-Prenure</label>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-3 text">
              <div class="text-box last-div"><span>Buyer</span></div>
            </div>
            <div class="col-md-2 text">
              <div class="text-box last-div">Seller</div>
            </div>
            <div class="col-md-2 text">
              <div class="text-box">Agri-Prenure</div>
            </div> -->
        <div class="col-md-2 text1">
          <div class="text-box1">Quick Start</div>
        </div>
      </div>
      <!-- <div class="logo-image">
            <div class="row">
              <img src="../../../assets/user-images/google_logo_2x.png" />
            </div>
            <div class="row">
              <img src="../../../assets/user-images/twitter_logo_2x.png" />
            </div>
            <div class="row">
              <img src="../../../assets/user-images/fb_logo_2x.png" />
            </div>
            <div class="dotted-rect row">
              <div class="col-md-12">
                <img src="../../../assets/user-images/agro_right_rect_2x.png" />
              </div>
            </div>
          </div> -->

      <!-- <div class="row dotted-rect">
            <div class="col-md-12">
              <img src="../../../assets/user-images/agro_right_rect_2x.png" />
            </div>
          </div> -->
    </div>
  </section>

  <section class="construct_leading">
    <div class="container-fluid">
      <div class="row m-0">
        <div class="col-xl-12">
          <h1>Constructing leading edge technology</h1>
          <p>
            That's almost as quick as a swipe.Unmatched,seamless and hassle free
            platform for auction
          </p>
        </div>
      </div>
      <div class="row cards-box m-0">
        <div class="col-md-3 col-12">
          <div class="cards">
            <img src="../../../assets/user-images/buying.png" />
            <div class="cards-content">
              <h5>Buying</h5>
              <p>
                Delievering the best prices and services for commodity traders.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="cards">
            <img src="../../../assets/user-images/selling.png" />
            <div class="cards-content">
              <h5>Selling</h5>
              <p>Over vision to empower farmers by delievering efficiency.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="cards">
            <img src="../../../assets/user-images/finance.png" />
            <div class="cards-content">
              <h5>finance</h5>
              <p>
                Access to settlements and credit to the agricultural community.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="cards">
            <img src="../../../assets/user-images/warehousing.png" />
            <div class="cards-content">
              <h5>warehousing</h5>
              <p>
                Supply chain efficiencies with advance warehousing capabilities.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="../../../assets/user-images/Circles-big.png" class="big-circle" />
  </section>
  <section class="trade">
    <div class="container-fluid">
      <div class="row m-0">
        <div class="col-md-12">
          <img
            src="../../../assets/user-images/Circles-big.png"
            class="circle"
          />
          <img
            src="../../../assets/user-images/agro_right_rect_2x.png"
            class="dotted-image"
          />
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md-12">
          <h1>Negotiable Trade and Exchange - Spreads</h1>
        </div>
      </div>

      <div class="row m-0">
        <div class="col-md-12 create-button trade_now">
          <button class="trade">TRADE NOW</button>
        </div>
      </div>
      <div class="col-md-12 table table-responsive-xl">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">TYPE</th>
              <th scope="col">TRADE ID</th>
              <th scope="col">COMMODITY</th>
              <th scope="col">LOCATION</th>
              <th scope="col">QUANTITY</th>
              <th scope="col">PRICE</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">SELL</th>
              <td>3784</td>
              <td>URAD,None</td>
              <td>Tikamgarh,Madhya Pradesh</td>
              <td>200MT</td>
              <td>4,100/QTL</td>
              <td><Button>Login</Button></td>
            </tr>
            <tr>
              <th scope="row">SELL</th>
              <td>3784</td>
              <td>URAD,None</td>
              <td>Tikamgarh,Madhya Pradesh</td>
              <td>200MT</td>
              <td>4,100/QTL</td>
              <td><Button>Login</Button></td>
            </tr>
            <tr>
              <th scope="row">SELL</th>
              <td>3784</td>
              <td>URAD,None</td>
              <td>Tikamgarh,Madhya Pradesh</td>
              <td>200MT</td>
              <td>4,100/QTL</td>
              <td><Button>Login</Button></td>
            </tr>
            <tr>
              <th scope="row">SELL</th>
              <td>3784</td>
              <td>URAD,None</td>
              <td>Tikamgarh,Madhya Pradesh</td>
              <td>200MT</td>
              <td>4,100/QTL</td>
              <td><Button>Login</Button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row create-button m-0">
        <div class="col-md-12">
          <button class="trade">CREATE Negotiable TRADE</button>
          <button class="spread">CREATE EXCHANGE-SPREAD</button>
        </div>
      </div>
    </div>
  </section>
  <section class="see_all_trade mt-2">
    <h1>SEE ALL TRADE</h1>
    <hr />
    <!-- <div class="container-fluid"> -->
    <div class="row m-0">
      <div class="col-md-12 dotted-image">
        <img src="../../../assets/user-images/agro_right_rect_2x.png" />
      </div>
    </div>
    <div class="row integrated m-0">
      <div class="col-md-6 image">
        <img src="../../../assets/user-images/integrated_2x.png" />
      </div>
      <div class="col-md-6 content">
        <h1>
          Integrated, efficient and more secure payment gateway and processes.
        </h1>
        <p>Effective, efficient and Hassle free</p>

        <div class="row integrated_info_img m-0">
          <div class="col-lg-3 col-md-4 col-4">
            <img src="../../../assets/user-images/integrated_buy.png" />
            <h4>BUY</h4>
          </div>
          <div class="col-lg-3 col-md-4 col-4">
            <img src="../../../assets/user-images/sv_pay.png" />
            <h4>SV PAY</h4>
          </div>
          <div class="col-lg-3 col-md-4 col-4">
            <img src="../../../assets/user-images/integrated_sell.png" />
            <h4>SELL</h4>
          </div>
        </div>
      </div>

      <!-- </div> -->
    </div>
  </section>

  <section class="meet_team m-0">
    <div class="container-fluid">
      <div class="row justify-content-center m-0">
        <div class="col-md-10">
          <div class="row meet_team_card">
            <div class="col-md-3 col-sm-2">
              <img src="../../../assets/user-images/Ellipse 11.png" />
            </div>
            <div class="col-md-9 col-sm-5 content">
              <h1>MEET THE TEAM</h1>
              <p>
                From accomplished agri-enterpreneurs,business leaders,tech geeks
                and innovative hackers to engineering geniuses.
              </p>
              <button>Know More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer">
    <div class="container-fluid">
      <div class="row m-0">
        <div class="col-md-12">
          <h1>hii</h1>
          <!-- <img src="../../../assets/user-images/SV Logo.png" /> -->
        </div>
      </div>
    </div>
  </section>
</body>
